/* === BODY & ROOT & GLOBAL === */
:root {
  --white : #f8f9fa;
  --light-purple: #C4B7DB;
  --purple : #775DA6;
  --dark-purple : #3f2a56;
  --ultra-light-purple: rgba(119, 93, 166, 0.17);
  --black : black;
  --green : #2ecc71;

  --alert: red;

  --box-shadow : rgba(0, 0, 0, 0.15);

  --text-color : var(--white);
  --text-color-dark : var(--black);

  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
  color: var(--dark-purple);
}

h4 {
  margin: 0;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 0.1vh solid var(--black);
  margin: 1vh 0;
}

#navbar-container {
  min-width: clamp(100px, 14vw, 300px);
}

#main-container {
  padding: 0 2em;
  width: 100%;
}

/* === NAVIGATION === */
.navbar {
  min-height: 100vh;
  background-color: var(--white);
  padding: 0vh 1vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0.10vw 0 0.41vw var(--box-shadow);
}

.navbar .nav-logo {
  margin-bottom: 2vh;
}

.navbar .nav-logo .logo {
  max-width: 15vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navbar .nav-link {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 2vh;
}

.navbar .nav-link a {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: var(--black);
  text-decoration: none;
  padding: 1vh 1vw;
  border-radius: 1vh;
  font-weight: 600;
  font-size: 1.45vh;
  transition: background-color 0.3s ease;
}

.navbar .nav-link a:hover {
  text-decoration: underline;
}

.navbar .nav-link a.active {
  background-color: var(--white);
  border: 0.2vh solid var(--purple);
  color: var(--purple);
}

.navbar .nav-link img,
.navbar .nav-link a.active img {
  width: 2vh;
  height: 2vh;
  transition: filter 0.3s ease;
}

.navbar .nav-link a.active img {
  filter: invert(35%) sepia(77%) saturate(3718%) hue-rotate(223deg) brightness(95%) contrast(90%);
}

input.error, .error-message {
  color: var(--alert) !important;
}