/* === BODY & ROOT & GLOBAL === */
:root {
  --box-shadow-color-molecule : rgba(0, 0, 0, 0.1);
  --border-color-border-molecule-1 : #ddd;
  --border-color-border-molecule-2 : #ccc;
  --background-color-molecule-1 : #775DA6;
  --background-color-molecule-2 : rgba(119, 93, 166, 0.07);

  --txt-white-color : white;

  
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
  color: #3f2a56;
}

h4 {
  margin: 0;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 0.1vh solid black;
  margin: 1vh 0;
}

#navbar-container {
  min-width: clamp(100px, 14vw, 300px);
}

#main-container {
  padding: 0 2em;
  width: 100%;
}


/* === NAVIGATION === */
.navbar {
  min-height: 100vh;
  background-color: #fff;
  padding: 0vh 1vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0.10vw 0 0.41vw rgba(0, 0, 0, 0.15)
}

.navbar .nav-logo {
  margin-bottom: 2vh;
}

.navbar .nav-logo .logo {
  max-width: 15vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navbar .nav-link {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 2vh;
}

.navbar .nav-link a {
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #000;
  text-decoration: none;
  padding: 1vh 1vw;
  border-radius: 1vh;
  font-weight: 600;
  font-size: 1.45vh;
  transition: background-color 0.3s ease;
}

.navbar .nav-link a:hover {
  text-decoration: underline;
}

.navbar .nav-link a.active {
  background-color: #EEEBF4;
  border: 0.2vh solid #775DA6;
  color: #775DA6;
}

.navbar .nav-link img,
.navbar .nav-link a.active img {
  width: 2vh;
  height: 2vh;
  transition: filter 0.3s ease;
}

.navbar .nav-link a.active img {
  filter: invert(35%) sepia(77%) saturate(3718%) hue-rotate(223deg) brightness(95%) contrast(90%);
}